.breadcrumb {
  margin: 0;
  padding: 0 16px 0 0;
  display: table;
  width: 100%;
  height: 26px;

  .breadcrumb-item {

    width: 33.33%;
    color: $black;
    display: table-cell;

    .breadcrumb-link {
      display: block;
      position: relative;
      background-color: $black;
      padding: 0 10px 0 25px;
      width: 100%;
      height: 26px;
      text-align: center;
      text-decoration: none;
      line-height: 26px;
      color: $white;
      font-size: 14px;

      &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 2;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 16px solid $black;
        width: 0;
        height: 0;
        content: '';
      }

      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        margin-left: 1px;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 16px solid $white;
        width: 0;
        height: 0;
        content: '';
      }

    }

  }

}