.button {
  display: inline-block;
  cursor: pointer;

  &.button--menu {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;

    .button-icon {
      color: $black;
    }

  }

  &.button--attacker {
    vertical-align: bottom;

    .button-icon {
      vertical-align: bottom;
      transform: rotateZ(90deg);
    }

  }

  &.button--defender {
    vertical-align: bottom;

    .button-icon {
      vertical-align: bottom;
    }
  }

  &.button--submit {
    @media (max-width: 480px) {
      width: 100%;
    };
  }

  &.button--plus {
    color: $white;

    .button-icon {
      border-radius: 50%;
      box-shadow: 0 2px 2px 0 rgba($button-shadow1...), 0 1px 5px 0 rgba($button-shadow2...), 0 3px 1px -2px rgba($button-shadow3...);
      background-color: $actionColor;

      &:hover {
        box-shadow: 0 3px 3px 0 rgba($button-shadow1...), 0 1px 7px 0 rgba($button-shadow2...), 0 3px 1px -1px rgba($button-shadow3...);
        background-color: $actionColorLight;
      }

    }

  }

  &.button--account {

    .button-icon {
      font-size: 28px;
    }

  }

  &.button--back {
    width: 24px;

    .button-icon {
      height: 28px;
      line-height: 28px;
      width: 24px;
      font-size: 28px;
      transform: rotateZ(-90deg);
    }

  }

}