.collapsible {
  margin: 0 0 15px;
  border-top: 0;
  box-shadow: none;

  .collapsible-body {
    padding: 5px;

    .collapsible-contentWrapper {

      .collapsible-content {

        .collapsible-statsWrapper {

          .collapsible-row {
            margin-bottom: 5px;

            .collapsible-cell {
              padding: 0;
              text-align: center;

              .collapsible-select {
                display: block;
                padding: 2px;
                height: 2rem;
                text-align: center;
              }

            }

          }

        }

        .collapsible-select {

          &.collapsible-select--unitCount {
            display: block;
            width: 80px;
            height: 2rem;
            text-align: center;
          }

        }

      }

    }

  }

}
