.collapsible {
  margin: 0 0 15px;
  border-top: none;
  box-shadow: none;

  .collapsible-body {
    padding: 5px;

    .collapsible-contentWrapper {

      .collapsible-content {

        .collapsible-statsWrapper {

          .collapsible-row {
            margin-bottom: 5px;

            .collapsible-cell {
              padding: 0;
              text-align: center;

              .collapsible-select {
                display: block;
                padding: 2px;
                text-align: center;
                text-align-last: center;
                text-align: -webkit-center;
                height: 2rem;

                /* for Firefox */
                -moz-appearance: none;
                /* for Chrome */
                -webkit-appearance: none;
              }

              /* For IE10 */
              select::-ms-expand {
                display: none;
              }

            }

          }


        }

        .collapsible-select {

          &.collapsible-select--unitCount {
            display: block;
            width: 80px;
            height: 2rem;
            text-align: center;
            text-align-last: center;

            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;

            text-align: -webkit-center;

          }

          select::-ms-expand {
            display: none;
          }

        }

      }

    }

  }

}