body {
  margin: 0;
  background-color: rgba(255, 204, 0, 0.23);
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.unselectable {
  user-select: none;
}

[type='checkbox'].filled-in:checked+label:before, [type='checkbox'].filled-in:not(:checked)+label:before, [type='checkbox'].filled-in:checked+label:after, [type='checkbox'].filled-in:not(:checked)+label:after  {
  top: 2px!important;
}