.flipHeader {
  border: 1px solid $black;

  .flipHeader-left,
  .flipHeader-right {
    float: left;
    cursor: pointer;
    width: 50%;
    padding: 5px;
    text-align: center;
  }

  .flipHeader-left {

    &.flipHeader-left--active {
      background-color: $lightBlue;
    }

  }

  .flipHeader-right {

    &.flipHeader-right--active {
      background-color: $lightRed;
    }

  }
  
}
